*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-20 {
  bottom: 5rem;
}

.right-12 {
  right: 3rem;
}

.right-20 {
  right: 5rem;
}

.right-3 {
  right: 0.75rem;
}

.right-8 {
  right: 2rem;
}

.top-3 {
  top: 0.75rem;
}

.top-96 {
  top: 24rem;
}

.top-\[58px\] {
  top: 58px;
}

.-z-10 {
  z-index: -10;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-\[1\] {
  z-index: 1;
}

.m-5 {
  margin: 1.25rem;
}

.m-auto {
  margin: auto;
}

.mx-\[10\%\] {
  margin-left: 10%;
  margin-right: 10%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-\[100px\] {
  margin-top: 100px;
  margin-bottom: 100px;
}

.my-\[10px\] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-\[15px\] {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-\[20px\] {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-\[30px\] {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-\[4px\] {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-\[50px\] {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-\[8px\] {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-2\.5 {
  margin-bottom: 0.625rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-\[0px\] {
  margin-bottom: 0px;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mb-\[13px\] {
  margin-bottom: 13px;
}

.mb-\[15px\] {
  margin-bottom: 15px;
}

.mb-\[20px\] {
  margin-bottom: 20px;
}

.mb-\[21px\] {
  margin-bottom: 21px;
}

.mb-\[22px\] {
  margin-bottom: 22px;
}

.mb-\[23px\] {
  margin-bottom: 23px;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.mb-\[40px\] {
  margin-bottom: 40px;
}

.mb-\[50px\] {
  margin-bottom: 50px;
}

.mb-\[53px\] {
  margin-bottom: 53px;
}

.mb-\[54px\] {
  margin-bottom: 54px;
}

.mb-\[5px\] {
  margin-bottom: 5px;
}

.mb-\[60px\] {
  margin-bottom: 60px;
}

.ml-\[-10px\] {
  margin-left: -10px;
}

.ml-\[0px\] {
  margin-left: 0px;
}

.ml-\[1\%\] {
  margin-left: 1%;
}

.ml-\[10px\] {
  margin-left: 10px;
}

.ml-\[110px\] {
  margin-left: 110px;
}

.ml-\[1200px\] {
  margin-left: 1200px;
}

.ml-\[127px\] {
  margin-left: 127px;
}

.ml-\[160px\] {
  margin-left: 160px;
}

.ml-\[200px\] {
  margin-left: 200px;
}

.ml-\[20px\] {
  margin-left: 20px;
}

.ml-\[3\%\] {
  margin-left: 3%;
}

.ml-\[30px\] {
  margin-left: 30px;
}

.ml-\[35px\] {
  margin-left: 35px;
}

.ml-\[40px\] {
  margin-left: 40px;
}

.ml-\[440px\] {
  margin-left: 440px;
}

.ml-\[5\%\] {
  margin-left: 5%;
}

.ml-\[50px\] {
  margin-left: 50px;
}

.ml-\[60px\] {
  margin-left: 60px;
}

.ml-\[65px\] {
  margin-left: 65px;
}

.ml-\[66px\] {
  margin-left: 66px;
}

.ml-\[70px\] {
  margin-left: 70px;
}

.ml-\[7px\] {
  margin-left: 7px;
}

.ml-\[80px\] {
  margin-left: 80px;
}

.ml-\[820px\] {
  margin-left: 820px;
}

.ml-\[840px\] {
  margin-left: 840px;
}

.ml-\[8px\] {
  margin-left: 8px;
}

.mr-\[-20\%\] {
  margin-right: -20%;
}

.mr-\[0px\] {
  margin-right: 0px;
}

.mr-\[1\%\] {
  margin-right: 1%;
}

.mr-\[100px\] {
  margin-right: 100px;
}

.mr-\[10px\] {
  margin-right: 10px;
}

.mr-\[20px\] {
  margin-right: 20px;
}

.mr-\[5\%\] {
  margin-right: 5%;
}

.mr-\[\] {
  margin-right: ;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-\[-100px\] {
  margin-top: -100px;
}

.mt-\[-10px\] {
  margin-top: -10px;
}

.mt-\[-120px\] {
  margin-top: -120px;
}

.mt-\[-130px\] {
  margin-top: -130px;
}

.mt-\[-133px\] {
  margin-top: -133px;
}

.mt-\[-300px\] {
  margin-top: -300px;
}

.mt-\[-30px\] {
  margin-top: -30px;
}

.mt-\[-55px\] {
  margin-top: -55px;
}

.mt-\[-65px\] {
  margin-top: -65px;
}

.mt-\[-80px\] {
  margin-top: -80px;
}

.mt-\[100px\] {
  margin-top: 100px;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[120px\] {
  margin-top: 120px;
}

.mt-\[15px\] {
  margin-top: 15px;
}

.mt-\[16px\] {
  margin-top: 16px;
}

.mt-\[17px\] {
  margin-top: 17px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[220px\] {
  margin-top: 220px;
}

.mt-\[22px\] {
  margin-top: 22px;
}

.mt-\[24px\] {
  margin-top: 24px;
}

.mt-\[25px\] {
  margin-top: 25px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.mt-\[45px\] {
  margin-top: 45px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[5px\] {
  margin-top: 5px;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.mt-\[6px\] {
  margin-top: 6px;
}

.mt-\[70px\] {
  margin-top: 70px;
}

.mt-\[7px\] {
  margin-top: 7px;
}

.mt-\[80px\] {
  margin-top: 80px;
}

.mt-\[8px\] {
  margin-top: 8px;
}

.mt-\[97px\] {
  margin-top: 97px;
}

.mb-\[100px\] {
  margin-bottom: 100px;
}

.ml-\[-350px\] {
  margin-left: -350px;
}

.mt-\[-110px\] {
  margin-top: -110px;
}

.mt-\[200px\] {
  margin-top: 200px;
}

.mt-\[250px\] {
  margin-top: 250px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-2 {
  height: 0.5rem;
}

.h-24 {
  height: 6rem;
}

.h-6 {
  height: 1.5rem;
}

.h-\[1\.5px\] {
  height: 1.5px;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[120px\] {
  height: 120px;
}

.h-\[200px\] {
  height: 200px;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[23px\] {
  height: 23px;
}

.h-\[250px\] {
  height: 250px;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[28px\] {
  height: 28px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[380px\] {
  height: 380px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[410px\] {
  height: 410px;
}

.h-\[426px\] {
  height: 426px;
}

.h-\[45px\] {
  height: 45px;
}

.h-\[500px\] {
  height: 500px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[515px\] {
  height: 515px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[60xp\] {
  height: 60xp;
}

.h-\[65px\] {
  height: 65px;
}

.h-\[70px\] {
  height: 70px;
}

.h-\[80\%\] {
  height: 80%;
}

.h-\[8px\] {
  height: 8px;
}

.h-\[90px\] {
  height: 90px;
}

.h-full {
  height: 100%;
}

.\!w-\[460px\] {
  width: 460px !important;
}

.w-24 {
  width: 6rem;
}

.w-6 {
  width: 1.5rem;
}

.w-64 {
  width: 16rem;
}

.w-\[0px\] {
  width: 0px;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[110px\] {
  width: 110px;
}

.w-\[12\%\] {
  width: 12%;
}

.w-\[120\%\] {
  width: 120%;
}

.w-\[120px\] {
  width: 120px;
}

.w-\[130px\] {
  width: 130px;
}

.w-\[131px\] {
  width: 131px;
}

.w-\[140px\] {
  width: 140px;
}

.w-\[142px\] {
  width: 142px;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[160px\] {
  width: 160px;
}

.w-\[170px\] {
  width: 170px;
}

.w-\[177px\] {
  width: 177px;
}

.w-\[180px\] {
  width: 180px;
}

.w-\[186px\] {
  width: 186px;
}

.w-\[1px\] {
  width: 1px;
}

.w-\[20\%\] {
  width: 20%;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[233px\] {
  width: 233px;
}

.w-\[23px\] {
  width: 23px;
}

.w-\[240px\] {
  width: 240px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[25px\] {
  width: 25px;
}

.w-\[260px\] {
  width: 260px;
}

.w-\[270px\] {
  width: 270px;
}

.w-\[280px\] {
  width: 280px;
}

.w-\[28px\] {
  width: 28px;
}

.w-\[290px\] {
  width: 290px;
}

.w-\[30\%\] {
  width: 30%;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[31\%\] {
  width: 31%;
}

.w-\[320px\] {
  width: 320px;
}

.w-\[33\%\] {
  width: 33%;
}

.w-\[35\%\] {
  width: 35%;
}

.w-\[350px\] {
  width: 350px;
}

.w-\[370px\] {
  width: 370px;
}

.w-\[40\%\] {
  width: 40%;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[45\%\] {
  width: 45%;
}

.w-\[48\%\] {
  width: 48%;
}

.w-\[49\%\] {
  width: 49%;
}

.w-\[490px\] {
  width: 490px;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[500px\] {
  width: 500px;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[55\%\] {
  width: 55%;
}

.w-\[58\%\] {
  width: 58%;
}

.w-\[60\%\] {
  width: 60%;
}

.w-\[600px\] {
  width: 600px;
}

.w-\[65\%\] {
  width: 65%;
}

.w-\[70\%\] {
  width: 70%;
}

.w-\[78\%\] {
  width: 78%;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[80px\] {
  width: 80px;
}

.w-\[8px\] {
  width: 8px;
}

.w-\[90\%\] {
  width: 90%;
}

.w-\[91\%\] {
  width: 91%;
}

.w-\[94\%\] {
  width: 94%;
}

.w-\[95\%\] {
  width: 95%;
}

.w-\[96\%\] {
  width: 96%;
}

.w-\[97\%\] {
  width: 97%;
}

.w-\[98\%\] {
  width: 98%;
}

.w-full {
  width: 100%;
}

.w-\[23\%\] {
  width: 23%;
}

.w-\[92\%\] {
  width: 92%;
}

.flex-1 {
  flex: 1 1 0%;
}

.cursor-pointer {
  cursor: pointer;
}

.list-inside {
  list-style-position: inside;
}

.list-disc {
  list-style-type: disc;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-14 {
  gap: 3.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-2\.5 {
  gap: 0.625rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-40 {
  gap: 10rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[100px\] {
  gap: 100px;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[130px\] {
  gap: 130px;
}

.gap-\[13px\] {
  gap: 13px;
}

.gap-\[140px\] {
  gap: 140px;
}

.gap-\[15px\] {
  gap: 15px;
}

.gap-\[19px\] {
  gap: 19px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[40px\] {
  gap: 40px;
}

.gap-\[50px\] {
  gap: 50px;
}

.gap-\[60px\] {
  gap: 60px;
}

.gap-\[6px\] {
  gap: 6px;
}

.gap-\[70px\] {
  gap: 70px;
}

.gap-\[8px\] {
  gap: 8px;
}

.gap-\[90px\] {
  gap: 90px;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-y-12 {
  row-gap: 3rem;
}

.gap-y-2 {
  row-gap: 0.5rem;
}

.gap-y-4 {
  row-gap: 1rem;
}

.gap-y-6 {
  row-gap: 1.5rem;
}

.gap-y-8 {
  row-gap: 2rem;
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.place-self-end {
  place-self: end;
}

.self-center {
  align-self: center;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[15px\] {
  border-radius: 15px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[25px\] {
  border-radius: 25px;
}

.rounded-\[30px\] {
  border-radius: 30px;
}

.rounded-\[40px\] {
  border-radius: 40px;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-\[50\%\] {
  border-radius: 50%;
}

.rounded-\[50px\] {
  border-radius: 50px;
}

.rounded-\[5px\] {
  border-radius: 5px;
}

.rounded-\[6px\] {
  border-radius: 6px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-s-3xl {
  border-start-start-radius: 1.5rem;
  border-end-start-radius: 1.5rem;
}

.rounded-t-3xl {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.rounded-b {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.rounded-tl-\[25px\] {
  border-top-left-radius: 25px;
}

.rounded-tr-\[25px\] {
  border-top-right-radius: 25px;
}

.rounded-bl {
  border-bottom-left-radius: 0.25rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-\[2px\] {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-b-\[2px\] {
  border-bottom-width: 2px;
}

.border-l {
  border-left-width: 1px;
}

.border-l-\[2px\] {
  border-left-width: 2px;
}

.border-\[\#C2C2C4\] {
  --tw-border-opacity: 1;
  border-color: rgb(194 194 196 / var(--tw-border-opacity, 1));
}

.border-\[\#CA0100\] {
  --tw-border-opacity: 1;
  border-color: rgb(202 1 0 / var(--tw-border-opacity, 1));
}

.border-\[\#E1E1E1\] {
  --tw-border-opacity: 1;
  border-color: rgb(225 225 225 / var(--tw-border-opacity, 1));
}

.border-\[green\] {
  --tw-border-opacity: 1;
  border-color: rgb(0 128 0 / var(--tw-border-opacity, 1));
}

.border-\[solid\] {
  border-color: solid;
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}

.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity, 1));
}

.border-b-\[\#E1E1E1\] {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(225 225 225 / var(--tw-border-opacity, 1));
}

.border-l-\[grey\] {
  --tw-border-opacity: 1;
  border-left-color: rgb(128 128 128 / var(--tw-border-opacity, 1));
}

.border-l-\[solid\] {
  border-left-color: solid;
}

.bg-\[\#009FDF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 159 223 / var(--tw-bg-opacity, 1));
}

.bg-\[\#1B1B1B\] {
  --tw-bg-opacity: 1;
  background-color: rgb(27 27 27 / var(--tw-bg-opacity, 1));
}

.bg-\[\#262626\] {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity, 1));
}

.bg-\[\#298F2D\] {
  --tw-bg-opacity: 1;
  background-color: rgb(41 143 45 / var(--tw-bg-opacity, 1));
}

.bg-\[\#595D60\] {
  --tw-bg-opacity: 1;
  background-color: rgb(89 93 96 / var(--tw-bg-opacity, 1));
}

.bg-\[\#737373\] {
  --tw-bg-opacity: 1;
  background-color: rgb(115 115 115 / var(--tw-bg-opacity, 1));
}

.bg-\[\#ADADB0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(173 173 176 / var(--tw-bg-opacity, 1));
}

.bg-\[\#C2C2C4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(194 194 196 / var(--tw-bg-opacity, 1));
}

.bg-\[\#CA0100\] {
  --tw-bg-opacity: 1;
  background-color: rgb(202 1 0 / var(--tw-bg-opacity, 1));
}

.bg-\[\#E1E1E1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(225 225 225 / var(--tw-bg-opacity, 1));
}

.bg-\[\#EFF0F0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(239 240 240 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F2F2F2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FFCD1B\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 205 27 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FFFFFF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#ced0d0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(206 208 208 / var(--tw-bg-opacity, 1));
}

.bg-\[\#df0404\] {
  --tw-bg-opacity: 1;
  background-color: rgb(223 4 4 / var(--tw-bg-opacity, 1));
}

.bg-\[\#f5f5f5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
}

.bg-\[\#fff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#ffff\] {
  background-color: #ffff;
}

.bg-\[\#ffffff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-\[gray\] {
  --tw-bg-opacity: 1;
  background-color: rgb(128 128 128 / var(--tw-bg-opacity, 1));
}

.bg-\[red\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 0 / var(--tw-bg-opacity, 1));
}

.bg-\[white\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
}

.bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1));
}

.bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1));
}

.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1));
}

.bg-red-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-green-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(74 222 128 / var(--tw-bg-opacity, 1));
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1));
}

.bg-red-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(185 28 28 / var(--tw-bg-opacity, 1));
}

.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1));
}

.bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity, 1));
}

.bg-slate-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity, 1));
}

.bg-\[url\(img-aba\/back\.png\)\] {
  background-image: url(img-aba/back.png);
}

.bg-\[url\(img-aba\/md-back\.png\)\] {
  background-image: url(img-aba/md-back.png);
}

.bg-gradient-to-t {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.from-red-500 {
  --tw-gradient-from: #ef4444 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(239 68 68 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-black {
  --tw-gradient-to: #000 var(--tw-gradient-to-position);
}

.bg-contain {
  background-size: contain;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[12px\] {
  padding: 12px;
}

.p-\[15px\] {
  padding: 15px;
}

.p-\[17px\] {
  padding: 17px;
}

.p-\[20px\] {
  padding: 20px;
}

.p-\[30px\] {
  padding: 30px;
}

.p-\[3px\] {
  padding: 3px;
}

.p-\[50px\] {
  padding: 50px;
}

.p-\[5px\] {
  padding: 5px;
}

.p-\[6px\] {
  padding: 6px;
}

.p-\[7px\] {
  padding: 7px;
}

.p-\[8px\] {
  padding: 8px;
}

.p-\[9px\] {
  padding: 9px;
}

.p-11 {
  padding: 2.75rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-6 {
  padding: 1.5rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-\[10\%\] {
  padding-left: 10%;
  padding-right: 10%;
}

.px-\[100px\] {
  padding-left: 100px;
  padding-right: 100px;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[11px\] {
  padding-left: 11px;
  padding-right: 11px;
}

.px-\[13\%\] {
  padding-left: 13%;
  padding-right: 13%;
}

.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[21px\] {
  padding-left: 21px;
  padding-right: 21px;
}

.px-\[3\%\] {
  padding-left: 3%;
  padding-right: 3%;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.px-\[5\%\] {
  padding-left: 5%;
  padding-right: 5%;
}

.px-\[50px\] {
  padding-left: 50px;
  padding-right: 50px;
}

.px-\[6px\] {
  padding-left: 6px;
  padding-right: 6px;
}

.px-\[70px\] {
  padding-left: 70px;
  padding-right: 70px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-\[17px\] {
  padding-top: 17px;
  padding-bottom: 17px;
}

.py-\[2\%\] {
  padding-top: 2%;
  padding-bottom: 2%;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[23px\] {
  padding-top: 23px;
  padding-bottom: 23px;
}

.py-\[25px\] {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-\[2px\] {
  padding-top: 2px;
  padding-bottom: 2px;
}

.py-\[3\%\] {
  padding-top: 3%;
  padding-bottom: 3%;
}

.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-\[4px\] {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-\[5\%\] {
  padding-top: 5%;
  padding-bottom: 5%;
}

.py-\[50px\] {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-\[5px\] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-\[9px\] {
  padding-top: 9px;
  padding-bottom: 9px;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-\[10px\] {
  padding-bottom: 10px;
}

.pb-\[120px\] {
  padding-bottom: 120px;
}

.pb-\[20px\] {
  padding-bottom: 20px;
}

.pb-\[28px\] {
  padding-bottom: 28px;
}

.pb-\[30px\] {
  padding-bottom: 30px;
}

.pb-\[3px\] {
  padding-bottom: 3px;
}

.pb-\[50px\] {
  padding-bottom: 50px;
}

.pb-\[7px\] {
  padding-bottom: 7px;
}

.pl-\[10px\] {
  padding-left: 10px;
}

.pl-\[12px\] {
  padding-left: 12px;
}

.pl-\[13px\] {
  padding-left: 13px;
}

.pl-\[15px\] {
  padding-left: 15px;
}

.pl-\[18px\] {
  padding-left: 18px;
}

.pl-\[20px\] {
  padding-left: 20px;
}

.pl-\[25px\] {
  padding-left: 25px;
}

.pl-\[27px\] {
  padding-left: 27px;
}

.pl-\[30px\] {
  padding-left: 30px;
}

.pl-\[4\%\] {
  padding-left: 4%;
}

.pl-\[480px\] {
  padding-left: 480px;
}

.pl-\[5\%\] {
  padding-left: 5%;
}

.pl-\[50px\] {
  padding-left: 50px;
}

.pl-\[60px\] {
  padding-left: 60px;
}

.pl-\[680px\] {
  padding-left: 680px;
}

.pl-\[6px\] {
  padding-left: 6px;
}

.pl-\[70px\] {
  padding-left: 70px;
}

.pl-\[7px\] {
  padding-left: 7px;
}

.pl-\[80px\] {
  padding-left: 80px;
}

.pr-\[0px\] {
  padding-right: 0px;
}

.pr-\[10px\] {
  padding-right: 10px;
}

.pr-\[120px\] {
  padding-right: 120px;
}

.pr-\[30px\] {
  padding-right: 30px;
}

.pr-\[35px\] {
  padding-right: 35px;
}

.pr-\[4\%\] {
  padding-right: 4%;
}

.pr-\[40px\] {
  padding-right: 40px;
}

.pr-\[5\%\] {
  padding-right: 5%;
}

.pr-\[50px\] {
  padding-right: 50px;
}

.pr-\[60px\] {
  padding-right: 60px;
}

.pr-\[6px\] {
  padding-right: 6px;
}

.pt-32 {
  padding-top: 8rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-\[0px\] {
  padding-top: 0px;
}

.pt-\[10px\] {
  padding-top: 10px;
}

.pt-\[11px\] {
  padding-top: 11px;
}

.pt-\[15px\] {
  padding-top: 15px;
}

.pt-\[19px\] {
  padding-top: 19px;
}

.pt-\[20\%\] {
  padding-top: 20%;
}

.pt-\[20px\] {
  padding-top: 20px;
}

.pt-\[21px\] {
  padding-top: 21px;
}

.pt-\[250px\] {
  padding-top: 250px;
}

.pt-\[28px\] {
  padding-top: 28px;
}

.pt-\[2px\] {
  padding-top: 2px;
}

.pt-\[300px\] {
  padding-top: 300px;
}

.pt-\[30px\] {
  padding-top: 30px;
}

.pt-\[35px\] {
  padding-top: 35px;
}

.pt-\[40px\] {
  padding-top: 40px;
}

.pt-\[4px\] {
  padding-top: 4px;
}

.pt-\[5\%\] {
  padding-top: 5%;
}

.pt-\[50px\] {
  padding-top: 50px;
}

.pt-\[5px\] {
  padding-top: 5px;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[11px\] {
  font-size: 11px;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[23px\] {
  font-size: 23px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[25px\] {
  font-size: 25px;
}

.text-\[26px\] {
  font-size: 26px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[32px\] {
  font-size: 32px;
}

.text-\[35px\] {
  font-size: 35px;
}

.text-\[38px\] {
  font-size: 38px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-\[50px\] {
  font-size: 50px;
}

.text-\[60px\] {
  font-size: 60px;
}

.text-\[68px\] {
  font-size: 68px;
}

.text-\[80px\] {
  font-size: 80px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-\[19px\] {
  font-size: 19px;
}

.text-\[43px\] {
  font-size: 43px;
}

.text-\[45px\] {
  font-size: 45px;
}

.text-\[90px\] {
  font-size: 90px;
}

.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.leading-3 {
  line-height: .75rem;
}

.leading-\[150\%\] {
  line-height: 150%;
}

.leading-\[18px\] {
  line-height: 18px;
}

.leading-\[20px\] {
  line-height: 20px;
}

.leading-\[50px\] {
  line-height: 50px;
}

.tracking-\[2px\] {
  letter-spacing: 2px;
}

.text-\[\#262626\] {
  --tw-text-opacity: 1;
  color: rgb(38 38 38 / var(--tw-text-opacity, 1));
}

.text-\[\#595D60\] {
  --tw-text-opacity: 1;
  color: rgb(89 93 96 / var(--tw-text-opacity, 1));
}

.text-\[\#737373\] {
  --tw-text-opacity: 1;
  color: rgb(115 115 115 / var(--tw-text-opacity, 1));
}

.text-\[\#797979\] {
  --tw-text-opacity: 1;
  color: rgb(121 121 121 / var(--tw-text-opacity, 1));
}

.text-\[\#999999\] {
  --tw-text-opacity: 1;
  color: rgb(153 153 153 / var(--tw-text-opacity, 1));
}

.text-\[\#ADADB0\] {
  --tw-text-opacity: 1;
  color: rgb(173 173 176 / var(--tw-text-opacity, 1));
}

.text-\[\#C2C2C4\] {
  --tw-text-opacity: 1;
  color: rgb(194 194 196 / var(--tw-text-opacity, 1));
}

.text-\[\#CA0100\] {
  --tw-text-opacity: 1;
  color: rgb(202 1 0 / var(--tw-text-opacity, 1));
}

.text-\[\#F2C94C\] {
  --tw-text-opacity: 1;
  color: rgb(242 201 76 / var(--tw-text-opacity, 1));
}

.text-\[\#FFFFFF\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-\[\#df0404\] {
  --tw-text-opacity: 1;
  color: rgb(223 4 4 / var(--tw-text-opacity, 1));
}

.text-\[\@737373\] {
  color: @737373;
}

.text-\[black\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-\[gray\] {
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity, 1));
}

.text-\[grey\] {
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity, 1));
}

.text-\[red\] {
  --tw-text-opacity: 1;
  color: rgb(255 0 0 / var(--tw-text-opacity, 1));
}

.text-\[white\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-blue-700 {
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity, 1));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

.text-red-700 {
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity, 1));
}

.text-transparent {
  color: transparent;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-80 {
  opacity: 0.8;
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0px_0px_5px_grey\] {
  --tw-shadow: 0px 0px 5px grey;
  --tw-shadow-colored: 0px 0px 5px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.sec1{
  background-image: url("./sabrinaimg/1\ 50502083__2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec9{
  background-image: url("./sabrinaimg/1088\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.marker\:text-\[\#CA0100\] *::marker {
  color: rgb(202 1 0 );
}

.marker\:text-\[\#CA0100\]::marker {
  color: rgb(202 1 0 );
}

.placeholder\:text-\[black\]::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.placeholder\:text-\[black\]::placeholder {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.hover\:scale-110:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-b:hover {
  border-bottom-width: 1px;
}

.hover\:bg-\[\#c7c7c7ce\]:hover {
  background-color: #c7c7c7ce;
}

.hover\:bg-blue-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#868282ce\]:hover {
  background-color: #868282ce;
}

.hover\:shadow-\[0px_0px_5px\#CA0100\]:hover {
  --tw-shadow: 0px 0px 5px#CA0100;
  --tw-shadow-colored: 0px 0px 5px#CA0100 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:shadow-\[0px_0px_5px_\#CA0100\]:hover {
  --tw-shadow: 0px 0px 5px #CA0100;
  --tw-shadow-colored: 0px 0px 5px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.peer:checked ~ .peer-checked\:bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

@media (min-width: 0px) {
  .xs\:absolute {
    position: absolute;
  }

  .xs\:left-\[7\%\] {
    left: 7%;
  }

  .xs\:left-\[8\%\] {
    left: 8%;
  }

  .xs\:top-\[303\%\] {
    top: 303%;
  }

  .xs\:top-\[415\%\] {
    top: 415%;
  }

  .xs\:top-\[565\%\] {
    top: 565%;
  }

  .xs\:-z-10 {
    z-index: -10;
  }

  .xs\:-z-20 {
    z-index: -20;
  }

  .xs\:order-1 {
    order: 1;
  }

  .xs\:order-5 {
    order: 5;
  }

  .xs\:col-span-4 {
    grid-column: span 4 / span 4;
  }

  .xs\:mx-\[15\%\] {
    margin-left: 15%;
    margin-right: 15%;
  }

  .xs\:my-\[10px\] {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .xs\:my-\[25px\] {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .xs\:mb-\[15px\] {
    margin-bottom: 15px;
  }

  .xs\:mb-\[20px\] {
    margin-bottom: 20px;
  }

  .xs\:mb-\[30px\] {
    margin-bottom: 30px;
  }

  .xs\:mb-\[60px\] {
    margin-bottom: 60px;
  }

  .xs\:ml-\[100px\] {
    margin-left: 100px;
  }

  .xs\:ml-\[10px\] {
    margin-left: 10px;
  }

  .xs\:ml-\[2\.5\%\] {
    margin-left: 2.5%;
  }

  .xs\:ml-\[20px\] {
    margin-left: 20px;
  }

  .xs\:ml-\[25\%\] {
    margin-left: 25%;
  }

  .xs\:ml-\[3\%\] {
    margin-left: 3%;
  }

  .xs\:ml-\[50px\] {
    margin-left: 50px;
  }

  .xs\:mt-\[-11px\] {
    margin-top: -11px;
  }

  .xs\:mt-\[-1200px\] {
    margin-top: -1200px;
  }

  .xs\:mt-\[-170px\] {
    margin-top: -170px;
  }

  .xs\:mt-\[-190px\] {
    margin-top: -190px;
  }

  .xs\:mt-\[-30px\] {
    margin-top: -30px;
  }

  .xs\:mt-\[-40px\] {
    margin-top: -40px;
  }

  .xs\:mt-\[0px\] {
    margin-top: 0px;
  }

  .xs\:mt-\[100px\] {
    margin-top: 100px;
  }

  .xs\:mt-\[10px\] {
    margin-top: 10px;
  }

  .xs\:mt-\[120px\] {
    margin-top: 120px;
  }

  .xs\:mt-\[20px\] {
    margin-top: 20px;
  }

  .xs\:mt-\[220px\] {
    margin-top: 220px;
  }

  .xs\:mt-\[30px\] {
    margin-top: 30px;
  }

  .xs\:mt-\[450px\] {
    margin-top: 450px;
  }

  .xs\:mt-\[50px\] {
    margin-top: 50px;
  }

  .xs\:block {
    display: block;
  }

  .xs\:inline {
    display: inline;
  }

  .xs\:flex {
    display: flex;
  }

  .xs\:grid {
    display: grid;
  }

  .xs\:hidden {
    display: none;
  }

  .xs\:h-\[150px\] {
    height: 150px;
  }

  .xs\:h-\[30px\] {
    height: 30px;
  }

  .xs\:h-\[380px\] {
    height: 380px;
  }

  .xs\:h-\[40px\] {
    height: 40px;
  }

  .xs\:h-\[50px\] {
    height: 50px;
  }

  .xs\:h-\[550px\] {
    height: 550px;
  }

  .xs\:h-\[55px\] {
    height: 55px;
  }

  .xs\:h-\[840px\] {
    height: 840px;
  }

  .xs\:w-\[100\%\] {
    width: 100%;
  }

  .xs\:w-\[130\%\] {
    width: 130%;
  }

  .xs\:w-\[180px\] {
    width: 180px;
  }

  .xs\:w-\[190px\] {
    width: 190px;
  }

  .xs\:w-\[35\%\] {
    width: 35%;
  }

  .xs\:w-\[40\%\] {
    width: 40%;
  }

  .xs\:w-\[48\%\] {
    width: 48%;
  }

  .xs\:w-\[50px\] {
    width: 50px;
  }

  .xs\:w-\[60\%\] {
    width: 60%;
  }

  .xs\:w-\[75\%\] {
    width: 75%;
  }

  .xs\:w-\[80\%\] {
    width: 80%;
  }

  .xs\:w-\[90\%\] {
    width: 90%;
  }

  .xs\:w-\[94\%\] {
    width: 94%;
  }

  .xs\:w-\[95\%\] {
    width: 95%;
  }

  .xs\:w-\[98\%\] {
    width: 98%;
  }

  .xs\:w-\[\] {
    width: ;
  }

  .xs\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xs\:grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .xs\:flex-col {
    flex-direction: column;
  }

  .xs\:flex-wrap {
    flex-wrap: wrap;
  }

  .xs\:gap-6 {
    gap: 1.5rem;
  }

  .xs\:gap-\[20px\] {
    gap: 20px;
  }

  .xs\:rounded-\[15px\] {
    border-radius: 15px;
  }

  .xs\:rounded-2xl {
    border-radius: 1rem;
  }

  .xs\:p-\[0px\] {
    padding: 0px;
  }

  .xs\:p-\[10px\] {
    padding: 10px;
  }

  .xs\:p-\[5px\] {
    padding: 5px;
  }

  .xs\:px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .xs\:pl-\[10px\] {
    padding-left: 10px;
  }

  .xs\:pl-\[20px\] {
    padding-left: 20px;
  }

  .xs\:pl-\[28px\] {
    padding-left: 28px;
  }

  .xs\:pl-\[30px\] {
    padding-left: 30px;
  }

  .xs\:pl-\[4\%\] {
    padding-left: 4%;
  }

  .xs\:pl-\[47px\] {
    padding-left: 47px;
  }

  .xs\:pl-\[49px\] {
    padding-left: 49px;
  }

  .xs\:pl-\[50px\] {
    padding-left: 50px;
  }

  .xs\:pl-\[70px\] {
    padding-left: 70px;
  }

  .xs\:pr-\[6\%\] {
    padding-right: 6%;
  }

  .xs\:pt-\[0px\] {
    padding-top: 0px;
  }

  .xs\:text-center {
    text-align: center;
  }

  .xs\:text-\[13px\] {
    font-size: 13px;
  }

  .xs\:text-\[15px\] {
    font-size: 15px;
  }

  .xs\:text-\[16px\] {
    font-size: 16px;
  }

  .xs\:text-\[20px\] {
    font-size: 20px;
  }

  .xs\:text-\[25px\] {
    font-size: 25px;
  }

  .xs\:text-\[30px\] {
    font-size: 30px;
  }

  .xs\:text-\[40px\] {
    font-size: 40px;
  }

  .xs\:text-\[35px\] {
    font-size: 35px;
  }
}

@media (min-width: 510px) {
  .md\:absolute {
    position: absolute;
  }

  .md\:relative {
    position: relative;
  }

  .md\:left-\[3\.9\%\] {
    left: 3.9%;
  }

  .md\:right-10 {
    right: 2.5rem;
  }

  .md\:right-32 {
    right: 8rem;
  }

  .md\:right-72 {
    right: 18rem;
  }

  .md\:right-\[-80px\] {
    right: -80px;
  }

  .md\:top-80 {
    top: 20rem;
  }

  .md\:top-\[172\%\] {
    top: 172%;
  }

  .md\:top-\[223\%\] {
    top: 223%;
  }

  .md\:top-\[269\%\] {
    top: 269%;
  }

  .md\:top-\[289\%\] {
    top: 289%;
  }

  .md\:z-10 {
    z-index: 10;
  }

  .md\:order-1 {
    order: 1;
  }

  .md\:order-5 {
    order: 5;
  }

  .md\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .md\:mx-\[25\%\] {
    margin-left: 25%;
    margin-right: 25%;
  }

  .md\:my-\[0\] {
    margin-top: 0;
    margin-bottom: 0;
  }

  .md\:my-\[0px\] {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .md\:my-\[30px\] {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .md\:mb-\[0px\] {
    margin-bottom: 0px;
  }

  .md\:mb-\[30px\] {
    margin-bottom: 30px;
  }

  .md\:mb-\[36px\] {
    margin-bottom: 36px;
  }

  .md\:mb-\[50px\] {
    margin-bottom: 50px;
  }

  .md\:ml-\[-60\%\] {
    margin-left: -60%;
  }

  .md\:ml-\[0px\] {
    margin-left: 0px;
  }

  .md\:ml-\[10px\] {
    margin-left: 10px;
  }

  .md\:ml-\[115px\] {
    margin-left: 115px;
  }

  .md\:ml-\[130px\] {
    margin-left: 130px;
  }

  .md\:ml-\[160px\] {
    margin-left: 160px;
  }

  .md\:ml-\[900px\] {
    margin-left: 900px;
  }

  .md\:ml-\[90px\] {
    margin-left: 90px;
  }

  .md\:mr-\[50px\] {
    margin-right: 50px;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:mt-8 {
    margin-top: 2rem;
  }

  .md\:mt-\[-300px\] {
    margin-top: -300px;
  }

  .md\:mt-\[-85px\] {
    margin-top: -85px;
  }

  .md\:mt-\[-87px\] {
    margin-top: -87px;
  }

  .md\:mt-\[0\] {
    margin-top: 0;
  }

  .md\:mt-\[0px\] {
    margin-top: 0px;
  }

  .md\:mt-\[100px\] {
    margin-top: 100px;
  }

  .md\:mt-\[10px\] {
    margin-top: 10px;
  }

  .md\:mt-\[140px\] {
    margin-top: 140px;
  }

  .md\:mt-\[20px\] {
    margin-top: 20px;
  }

  .md\:mt-\[70px\] {
    margin-top: 70px;
  }

  .md\:mt-\[84px\] {
    margin-top: 84px;
  }

  .md\:mr-\[100px\] {
    margin-right: 100px;
  }

  .md\:block {
    display: block;
  }

  .md\:inline {
    display: inline;
  }

  .md\:flex {
    display: flex;
  }

  .md\:grid {
    display: grid;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-\[130px\] {
    height: 130px;
  }

  .md\:h-\[150px\] {
    height: 150px;
  }

  .md\:h-\[180px\] {
    height: 180px;
  }

  .md\:h-\[290px\] {
    height: 290px;
  }

  .md\:h-\[30px\] {
    height: 30px;
  }

  .md\:h-\[340px\] {
    height: 340px;
  }

  .md\:h-\[45px\] {
    height: 45px;
  }

  .md\:h-\[50px\] {
    height: 50px;
  }

  .md\:h-\[600px\] {
    height: 600px;
  }

  .md\:h-\[60px\] {
    height: 60px;
  }

  .md\:h-\[620px\] {
    height: 620px;
  }

  .md\:h-\[80px\] {
    height: 80px;
  }

  .md\:h-auto {
    height: auto;
  }

  .md\:w-4\/5 {
    width: 80%;
  }

  .md\:w-\[10\%\] {
    width: 10%;
  }

  .md\:w-\[100\%\] {
    width: 100%;
  }

  .md\:w-\[100px\] {
    width: 100px;
  }

  .md\:w-\[120\%\] {
    width: 120%;
  }

  .md\:w-\[140px\] {
    width: 140px;
  }

  .md\:w-\[1450px\] {
    width: 1450px;
  }

  .md\:w-\[150px\] {
    width: 150px;
  }

  .md\:w-\[168px\] {
    width: 168px;
  }

  .md\:w-\[20\%\] {
    width: 20%;
  }

  .md\:w-\[22\%\] {
    width: 22%;
  }

  .md\:w-\[220px\] {
    width: 220px;
  }

  .md\:w-\[23\%\] {
    width: 23%;
  }

  .md\:w-\[24\%\] {
    width: 24%;
  }

  .md\:w-\[240px\] {
    width: 240px;
  }

  .md\:w-\[25\%\] {
    width: 25%;
  }

  .md\:w-\[26\%\] {
    width: 26%;
  }

  .md\:w-\[270px\] {
    width: 270px;
  }

  .md\:w-\[278px\] {
    width: 278px;
  }

  .md\:w-\[290px\] {
    width: 290px;
  }

  .md\:w-\[30\%\] {
    width: 30%;
  }

  .md\:w-\[300px\] {
    width: 300px;
  }

  .md\:w-\[32\%\] {
    width: 32%;
  }

  .md\:w-\[33\%\] {
    width: 33%;
  }

  .md\:w-\[340px\] {
    width: 340px;
  }

  .md\:w-\[35\%\] {
    width: 35%;
  }

  .md\:w-\[350px\] {
    width: 350px;
  }

  .md\:w-\[360px\] {
    width: 360px;
  }

  .md\:w-\[369px\] {
    width: 369px;
  }

  .md\:w-\[370px\] {
    width: 370px;
  }

  .md\:w-\[39\%\] {
    width: 39%;
  }

  .md\:w-\[40\%\] {
    width: 40%;
  }

  .md\:w-\[400px\] {
    width: 400px;
  }

  .md\:w-\[412px\] {
    width: 412px;
  }

  .md\:w-\[430px\] {
    width: 430px;
  }

  .md\:w-\[45\%\] {
    width: 45%;
  }

  .md\:w-\[48\%\] {
    width: 48%;
  }

  .md\:w-\[49\%\] {
    width: 49%;
  }

  .md\:w-\[495px\] {
    width: 495px;
  }

  .md\:w-\[50\%\] {
    width: 50%;
  }

  .md\:w-\[500px\] {
    width: 500px;
  }

  .md\:w-\[520px\] {
    width: 520px;
  }

  .md\:w-\[55\%\] {
    width: 55%;
  }

  .md\:w-\[550px\] {
    width: 550px;
  }

  .md\:w-\[575px\] {
    width: 575px;
  }

  .md\:w-\[58\%\] {
    width: 58%;
  }

  .md\:w-\[59\%\] {
    width: 59%;
  }

  .md\:w-\[60\%\] {
    width: 60%;
  }

  .md\:w-\[619px\] {
    width: 619px;
  }

  .md\:w-\[65\%\] {
    width: 65%;
  }

  .md\:w-\[70\%\] {
    width: 70%;
  }

  .md\:w-\[700px\] {
    width: 700px;
  }

  .md\:w-\[80\%\] {
    width: 80%;
  }

  .md\:w-full {
    width: 100%;
  }

  .md\:w-\[31\%\] {
    width: 31%;
  }

  .md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .md\:grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-col {
    flex-direction: column;
  }

  .md\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:justify-around {
    justify-content: space-around;
  }

  .md\:gap-10 {
    gap: 2.5rem;
  }

  .md\:gap-8 {
    gap: 2rem;
  }

  .md\:gap-\[25px\] {
    gap: 25px;
  }

  .md\:gap-\[50px\] {
    gap: 50px;
  }

  .md\:rounded-full {
    border-radius: 9999px;
  }

  .md\:rounded-l-\[15px\] {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .md\:rounded-r-\[15px\] {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .md\:p-\[20px\] {
    padding: 20px;
  }

  .md\:p-\[4px\] {
    padding: 4px;
  }

  .md\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .md\:px-\[0px\] {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:px-\[100px\] {
    padding-left: 100px;
    padding-right: 100px;
  }

  .md\:px-\[13\%\] {
    padding-left: 13%;
    padding-right: 13%;
  }

  .md\:px-\[20\%\] {
    padding-left: 20%;
    padding-right: 20%;
  }

  .md\:px-\[25px\] {
    padding-left: 25px;
    padding-right: 25px;
  }

  .md\:px-\[42px\] {
    padding-left: 42px;
    padding-right: 42px;
  }

  .md\:py-\[0px\] {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .md\:py-\[34px\] {
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .md\:pb-10 {
    padding-bottom: 2.5rem;
  }

  .md\:pb-\[18px\] {
    padding-bottom: 18px;
  }

  .md\:pb-\[35px\] {
    padding-bottom: 35px;
  }

  .md\:pb-\[52px\] {
    padding-bottom: 52px;
  }

  .md\:pb-\[54px\] {
    padding-bottom: 54px;
  }

  .md\:pl-20 {
    padding-left: 5rem;
  }

  .md\:pl-\[0\] {
    padding-left: 0;
  }

  .md\:pl-\[0px\] {
    padding-left: 0px;
  }

  .md\:pl-\[190px\] {
    padding-left: 190px;
  }

  .md\:pl-\[20px\] {
    padding-left: 20px;
  }

  .md\:pl-\[27px\] {
    padding-left: 27px;
  }

  .md\:pl-\[40px\] {
    padding-left: 40px;
  }

  .md\:pl-\[5\%\] {
    padding-left: 5%;
  }

  .md\:pl-\[50px\] {
    padding-left: 50px;
  }

  .md\:pl-\[60px\] {
    padding-left: 60px;
  }

  .md\:pr-10 {
    padding-right: 2.5rem;
  }

  .md\:pr-\[5\%\] {
    padding-right: 5%;
  }

  .md\:pr-\[50px\] {
    padding-right: 50px;
  }

  .md\:pt-10 {
    padding-top: 2.5rem;
  }

  .md\:pt-5 {
    padding-top: 1.25rem;
  }

  .md\:pt-\[20px\] {
    padding-top: 20px;
  }

  .md\:pt-\[45px\] {
    padding-top: 45px;
  }

  .md\:text-center {
    text-align: center;
  }

  .md\:text-start {
    text-align: start;
  }

  .md\:text-end {
    text-align: end;
  }

  .md\:text-\[11px\] {
    font-size: 11px;
  }

  .md\:text-\[13px\] {
    font-size: 13px;
  }

  .md\:text-\[14px\] {
    font-size: 14px;
  }

  .md\:text-\[16px\] {
    font-size: 16px;
  }

  .md\:text-\[18px\] {
    font-size: 18px;
  }

  .md\:text-\[20px\] {
    font-size: 20px;
  }

  .md\:text-\[22px\] {
    font-size: 22px;
  }

  .md\:text-\[24px\] {
    font-size: 24px;
  }

  .md\:text-\[30px\] {
    font-size: 30px;
  }

  .md\:text-\[35px\] {
    font-size: 35px;
  }

  .md\:text-\[40px\] {
    font-size: 40px;
  }

  .md\:text-\[50px\] {
    font-size: 50px;
  }

  .md\:text-\[60px\] {
    font-size: 60px;
  }

  .md\:text-\[68px\] {
    font-size: 68px;
  }

  .md\:text-\[70px\] {
    font-size: 70px;
  }

  .md\:text-\[\#737373\] {
    --tw-text-opacity: 1;
    color: rgb(115 115 115 / var(--tw-text-opacity, 1));
  }

  .md\:text-\[\] {
    color: ;
  }

  .md\:blur-sm {
    --tw-blur: blur(4px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }

  .md\:filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
}

@media (min-width: 1280px) {
  .lg\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .lg\:text-\[16px\] {
    font-size: 16px;
  }
}
